<nav class="navbar navbar-expand bg-black">
<div class="collapse navbar-collapse" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/libros">Listado</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/libros/nuevo">Nuevo Libro</a>
      </li>
    </ul>
</div>
</nav>